django>3.2,<3.3  # LTS
django-autoslug
django-filter
django-cors-headers
djangorestframework
django-rest-registration
django-stubs-ext
drf-spectacular
django-treebeard
damm32

djangorestframework-simplejwt
cryptography
